* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container .row .col-sm-6 li a {
    text-decoration: none;
    color: rgb(29, 13, 83);
    font-size: 20px; 
}

.container .row .col-sm-6 p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("/images/phillip@bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    max-height: 100%;
    padding-bottom: 10px;
}

.container h3{
    color: rgb(29, 13, 83);
    display: center;   
}

